
<div class="row container">
    <div class="col-3">
    </div>
    <div class="col-9">
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let item of booklist">
            <div class="card col-md-3">
              <img 
                src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}" alt=""/>
              
              <h5 class="title">
                {{ item.title }}
                <div class="material-icons absolute"
                style="color: gray; background-color: white; height: 30px; width: 30px; border-radius: 15px; padding: 2.5px;">
          <span>
            <i *ngIf="idArray.includes(item.bookId)" class="fas fa-heart" style="color: red" (click)="removeItem(item.bookId)"></i>
            <i *ngIf="!idArray.includes(item.bookId)" class="far fa-heart" style="color: pink" (click)="addtowishlist(item.bookId)"></i>
          </span>
          
        </div>
              </h5>
              <p>
                <strong>{{ item.price | currency:'INR' }}</strong>
                
              </p>
              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>