header{
    background-color: blue;
    color: white;
}
.form-control {
    border-radius: 3px;
    width: 400px;
    margin-left: 200px;
}

.bg-danger{
    position: absolute;
    height: 1rem;
    top: 1rem;
    right: 0.5rem;
    border-radius: 50%;
}
.header-icon{
    float:right;
}

