table{
    width: 100%;
    td{
        text-align: center;
    }
}
.btn-default{
    background-color: rgb(235, 68, 124);
}

.navbar{
    background-color: rgb(235, 68, 124);
}

.card{
    padding: 20px;
    display: block;
    position: relative;

}

.table-responsive.cart-product{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 16px;
    border-radius: 4px;
}

.wlist{
    text-align-last: 20px;
    font-size: 20px; 
    margin-left: 870px; 
    border-radius: 4px;
}